<a href="#" data-toggle="modal" data-target="#<%= id %>">
  display
</a>

<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= title %></h4>
      </div>
      <div class="modal-body">
        <% case body %>
        <% when String %>
          <%= simple_format body %>
        <% when Hash %>
          <%= simple_hash_format body %>
        <% else %>
          <%= body %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
